%h2 Comments
- @comments.each do |comment|
  %p
    = link_to(comment.user.name, user_path(comment.user))
    \: #{comment.comment_text}
    - if current_user == comment.user
      %button.btn.btn-outline-secondary{:type => "button"}
        = link_to "Delete comment", user_post_comment_path(comment.user, comment.post, comment.id), method: :delete, |
          data: { confirm: 'Are you sure?' }                                                                         |
