<div class=“btn btn-default center” style="margin-top: 2%">
<%= form_tag search_index_path, method: :get, role: 'search' do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Find user", name: nil %>
<% end %>
</div>