<h1>Followers</h1>

<ul>
  <% @followers.each do |follower| %>
  <li>
 Name: <%= follower.name %> | Bio: <%= follower.bio %> | <%= link_to(follower.email, user_path(follower)) %>
  </li>
  <% end %>
</ul>
<%= link_to "Back", user_path(@user) %>