@import "bootstrap-sprockets";
@import "bootstrap";

/* общие */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
.row {
  width: 100%;
}

/* правила для текста */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* user profile */
.avatar {
  margin: 1px auto 0px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: fill;
}

.avatar-box {
  height: auto;
}


/* logo */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* devise */
.devise-login, .user-edit, .new-post {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: auto;
}

/* header */


/* post */
.content {
  display: block;
  margin: auto;
  text-align: center;

  width: 500px;
  padding-bottom: 30px;

}

.post-photo {
  margin-bottom: 30px;
}